.currency {
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(13px);
  font-weight: bold;
  height: fit-content;
  width: fit-content;
  box-shadow: rgb(255, 255, 255) 0px 3px 8px;
  left: 50%;
  top: 80%;
  padding: 3%;
}
